button,
hr,
input {
  overflow: visible;
}
progress,
sub,
sup {
  vertical-align: baseline;
}
*,
[type="checkbox"],
[type="radio"],
legend {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
body {
  margin: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
details,
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: rgba(0, 0, 0, 0);
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot");
  src: local(""),
    url("../fonts/montserrat-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin-regular.woff") format("woff"),
    url("../fonts/montserrat-v25-latin-regular.ttf") format("truetype"),
    url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg");
}
* {
  list-style: none;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: gray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  background-color: #121517;
  font-family: Montserrat;
}
button {
  border: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3%;
}
.header-in {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navigation,
.starbucks-in {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-in__site-link {
  margin-right: 50px;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navigation__item {
  margin: 0 20%;
}
.navigation__link {
  font-size: 19px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 23px;
}
.header-in__burger {
  display: none;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.header-in__burger__line {
  width: 100%;
  height: 3px;
  background-color: #237249;
}
@media only screen and (max-width: 650px) {
  .navigation {
    display: none;
  }
  .header-in__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.starbucks-in {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.starbucks-in__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 50px;
}
.starbucks-in__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.about-in,
.starbucks-in__populary {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.starbucks-in__right .starbucks-in__right-hero-img {
  width: 70%;
  height: 70%;
}
.starbucks-in__title {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  line-height: 85px;
}
.starbucks-in__title .starbucks-in__title-colored {
  color: #35c66b;
}
.starbucks-in__info {
  font-size: 20px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 32px;
  margin: 50px 0;
}
.starbucks-in__button-menu .starbucks-in__button-default {
  border-radius: 82px;
  padding: 11px 50px;
  background: -o-linear-gradient(184.77deg, #237249 6.79%, #35c66b 97.2%);
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  font-size: 20px;
  font-weight: 639;
  color: #fff;
  line-height: 35px;
}
.starbucks-in__button-menu .starbucks-in__button-border {
  border-radius: 82px;
  padding: 10px 50px;
  background: 0 0;
  border: 1px solid #d9d9d9;
  font-size: 20px;
  font-weight: 639;
  color: #fff;
  line-height: 35px;
}
.starbucks-in__populary {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 50px;
}
.starbucks-in__populary .starbucks-in__popular-rating {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  line-height: 35px;
}
.starbucks-in__populary .starbucks-in__popular-info {
  font-size: 16px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 20px;
}
.starbucks-in__popular-card:nth-child(2) {
  margin: 0 50px;
}
.starbucks-in__popular-plus {
  color: #237249;
}
@media only screen and (max-width: 900px) {
  .starbucks-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .starbucks-in__left {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.about-in {
  background-color: #fff;
  margin: 50px 5%;
  padding: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 50px;
}
.about-in__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.about-in__card .about-in__card-title {
  font-size: 32px;
  font-weight: 500;
  color: #121517;
  line-height: 50px;
  margin: 20px 0;
}
.about-in__card .about-in__card-info {
  font-size: 20px;
  font-weight: 400;
  color: #121517;
  line-height: 30px;
}
.about-in__card-box {
  width: 150px;
  height: 150px;
  background-color: #35c66b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact-in,
.delicious-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 50px 0;
}
.contact-in__left,
.delicious-in__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 50px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.delicious-in__left .delicious-in__cafe-img {
  width: 80%;
  height: 80%;
}
.contact-in__right,
.delicious-in__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.contact-in__title,
.delicious-in__title {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  line-height: 60px;
}
.delicious-in__title .delicious-in__title-colored {
  color: #237249;
}
.contact-in__info,
.delicious-in__info {
  font-size: 20px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 30px;
  margin: 50px 0;
}
.delicious-in__right-box {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.delicious-in__right-box .delicious-in__button {
  background: -o-linear-gradient(184.77deg, #237249 6.79%, #35c66b 97.2%);
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  padding: 15px 30px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  position: absolute;
}
.delicious-in__right-box .delicious-in__right-img {
  width: 100%;
  height: 100%;
}
.product-in {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product-in__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.event-in__title,
.product-in__title {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  line-height: 60px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.product-in__title-colored {
  color: #35c66b;
}
.product-in__info {
  font-size: 20px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.coffee-in__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow-x: scroll;
}
.coffee-in__card .coffee-in__cards {
  width: 250px;
  height: 600px;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid gray;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.coffee-in__card .coffee-in__card-button {
  padding: 15px 30px;
  background-color: #35c66b;
  border-radius: 20px;
  color: #fff;
}
.coffee-in__card .coffee-in__card-title {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  line-height: 30px;
}
.coffee-in__card .coffee-in__card-info {
  font-size: 20px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 30px;
  text-align: center;
}
.coffee-in__card .coffee-in__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 20px;
  position: relative;
}
.coffee-in__card .coffee-in__card-cave {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #35c66b;
}
.coffee-in__card .coffee-in__card-img {
  position: absolute;
  margin-bottom: 50px;
}
.coffee-in__card .coffee-in__card-price {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  line-height: 30px;
}
.coffee-in__card .coffee-in__card-ml,
.event-in__info {
  font-size: 20px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 30px;
}
.event-in,
.footer-in,
.social-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.event-in,
.footer-in {
  padding: 50px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.event-in__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.event-in__title .event-in__title-colored {
  color: #237249;
}
.event-in__info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 50px;
}
.social-in {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px;
  overflow-x: scroll;
}
.social-in .social-in__button {
  padding: 10px 25px;
  background-color: #237249;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}
.social-in .social-in__card-bottom .social-in__card,
.social-in .social-in__card-top .social-in__card {
  height: 250px;
  margin: 10px;
  border-radius: 30px;
  padding: 30px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-in .social-in__title {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  line-height: 30px;
}
.social-in .social-in__card-bottom,
.social-in .social-in__card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.social-in .social-in__card-top .social-in__card {
  width: 650px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.social-in .social-in__card-bottom .social-in__card {
  width: 425px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.social-in .social-in__coffee-card {
  background: url("../images/starbucks.png");
}
.social-in .social-in__kitchen-tour {
  background: url("../images/starbucks-office.png");
}
.social-in .social-in__free-coffee {
  background: url("../images/starbucks-case.png");
}
.social-in .social-in__our-intagram {
  background: url("../../images/starbucks-sofa.png");
}
.social-in .social-in__choose-us {
  background: url("../images/starbucks-ofit.png");
}
.contact-in__left .contact-in__left-img {
  width: 80%;
  height: 80%;
}
.contact-in__title .contact-in__title-colored {
  color: #237249;
}
.contact-in__card-box {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #fff;
}
.contact-in__card-box img {
  margin-right: 10px;
}
@media only screen and (max-width: 500px) {
  .starbucks-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .starbucks-in__left {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .starbucks-in__title {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    line-height: 60px;
  }
  .contact-in__info,
  .delicious-in__info,
  .starbucks-in__info {
    font-size: 15px;
  }
  .starbucks-in__button-menu .starbucks-in__button-default {
    margin-bottom: 30px;
  }
  .starbucks-in__populary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .starbucks-in__populary .starbucks-in__popular-card {
    margin: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .starbucks-in__populary .starbucks-in__popular-rating {
    margin-right: 50px;
  }
  .event-in__info {
    font-size: 15px;
    margin: 0;
  }
}
footer {
  background-color: #0b0c0d;
}
.footer-in__top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.footer-in__top-card .footer-in__card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 20px;
}
.footer-in__top-card .footer-in__title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
}
.footer-in__top-card .footer-in__info {
  font-size: 20px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 20px;
  margin: 5px 0;
}
.footer-in__bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.footer-in__bottom-card .footer-in__number {
  font-size: 25px;
  font-weight: 800;
  color: #237249;
  line-height: 20px;
}
@media only screen and (max-width: 1000px) {
  .about-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-in__card {
    margin: 50px 0;
  }
  .contact-in,
  .delicious-in,
  .footer-in__bottom-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .delicious-in__left {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .contact-in__title,
  .delicious-in__title {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    line-height: 60px;
  }
  .product-in__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-in__text .product-in__title {
    font-size: 35px;
  }
  .product-in__text .product-in__info {
    margin-top: 50px;
    font-size: 15px;
  }
  .event-in__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .event-in__text .event-in__title {
    margin-bottom: 50px;
    font-size: 35px;
  }
  .contact-in__left {
    margin-right: 0;
    margin-top: 50px;
  }
  .footer-in__bottom-card .footer-in__number {
    margin-bottom: 20px;
  }
}
