
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
*::-webkit-scrollbar {
    width: 10px;
    height: 15px;
    cursor: pointer;
}
*::-webkit-scrollbar-track {
    background: grey;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body{
    background-color: #121517;
    font-family: "Montserrat";
}
button{
    border: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3%;
}
